.links {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.links a {
  font-size: 1.4rem;
  color: #006080;
  text-decoration: none;
  transition: color 0.5s ease, border-bottom 0.5s ease;
  border-bottom: 2px solid transparent;
}
.links a:hover {
  color: #646415;
  border-bottom: 2px solid yellow;
}
.links a:not(:last-of-type) {
  margin-right: 2rem;
}

.longText > p:last-of-type:after {
  content: "...or not ;)";
}

.anchor {
  color: lime;
  font-weight: bold;
}

p {
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a.button {
  color: yellow;
  text-decoration: none;
  transition: color 0.3s ease;
}
a.button:focus {
  outline: none;
}
a.button:hover {
  color: lime;
}

.button2 {
  background-color: deeppink;
  color: white;
  border: 1px solid red;
  border-radius: 2px;
  height: 30px;
  cursor: pointer;
  outline: none;
}
.button2:focus, .button2:active {
  outline: none;
}